#exp_form_cont {
  width: 95%;
  height: auto;
  margin: 1rem auto 0 auto;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 3px;
}
#exp_form_cont form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#exp_form_cont form input[type=number],
#exp_form_cont form input[type=text],
#exp_form_cont form input[type=date] {
  border: 1px solid #333;
  border-radius: 3px;
  color: #AAA;
  background-color: transparent;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
}
#exp_form_cont form input[type=number] #placeholder,
#exp_form_cont form input[type=text] #placeholder,
#exp_form_cont form input[type=date] #placeholder {
  color: #AAA;
}
#exp_form_cont form input[type=number]:focus-visible,
#exp_form_cont form input[type=text]:focus-visible,
#exp_form_cont form input[type=date]:focus-visible {
  outline: royalblue solid 2px;
}
#exp_form_cont form input::-webkit-inner-spin-button {
  display: none;
}
#exp_form_cont form input::-webkit-calendar-picker-indicator {
  display: none;
}
#exp_form_cont form #income {
  min-width: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 3px;
}
#exp_form_cont form #income label {
  width: 100%;
  height: 39px;
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  transition: all 0.25s ease;
}
#exp_form_cont form #income label:hover {
  background-color: #333;
}
#exp_form_cont form #income label.checked {
  background-color: #333;
}
#exp_form_cont form #income label input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}
#exp_form_cont form button {
  border: none;
  border-radius: 3px;
  color: #CCC;
  background-color: royalblue;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.item_list {
  width: 80%;
  margin: 1rem auto 0 auto;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: #111;
  display: grid;
  grid-template-columns: 50px 2fr repeat(2, 1fr);
  grid-template-rows: 1rem;
  position: relative;
}
.item_list:after {
  content: "X";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: all 0.25s ease;
  z-index: -1;
  background-color: #111;
}
.item_list::after:hover {
  background-color: red;
}
.item_list:hover::after {
  right: -50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.item_list .coment {
  color: #555;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Sans-serif;
  background-color: #111;
  color: #AAA;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  border-right: 1px solid #333;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
nav #logo_svg {
  width: 7vw;
  min-width: 85px;
  height: fit-content;
  margin-bottom: 2rem;
}
nav .nav_btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #AAA;
  cursor: pointer;
}

#content {
  margin-left: 15vw;
}
#content #tasks {
  overflow: auto;
}

/*# sourceMappingURL=styles.css.map */
